package client

import (
	"context"
	"encoding/json"
	"net/http"
	"net/url"
	"path"

	"github.com/FuturFusion/operations-center/shared/api"
	"github.com/FuturFusion/operations-center/internal/inventory"
)

func (c OperationsCenterClient) GetWithFilter{{ .PluralName | pascalcase }}(ctx context.Context, filter inventory.{{ .Name | pascalcase }}Filter) ([]api.{{ .Name | pascalcase }}, error) {
	query := url.Values{}
	query.Add("recursion", "1")
	query = filter.AppendToURLValues(query)

	response, err := c.DoRequest(ctx, http.MethodGet, "/inventory/{{ .PluralName }}", query, nil)
	if err != nil {
		return nil, err
	}

	{{ .PluralName }} := []api.{{ .Name | pascalcase }}{}
	err = json.Unmarshal(response.Metadata, &{{ .PluralName }})
	if err != nil {
		return nil, err
	}

	return {{ .PluralName }}, nil
}

func (c OperationsCenterClient) Get{{ .Name | pascalcase }}(ctx context.Context, id string) (api.{{ .Name | pascalcase }}, error) {
	response, err := c.DoRequest(ctx, http.MethodGet, path.Join("/inventory/{{ .PluralName }}", id), nil, nil)
	if err != nil {
		return api.{{ .Name | pascalcase }}{}, err
	}

	{{ .Name }} := api.{{ .Name | pascalcase }}{}
	err = json.Unmarshal(response.Metadata, &{{ .Name }})
	if err != nil {
		return api.{{ .Name | pascalcase }}{}, err
	}

	return {{ .Name }}, nil
}

func (c OperationsCenterClient) Resync{{ .Name | pascalcase }}(ctx context.Context, id string) error {
	_, err := c.DoRequest(ctx, http.MethodPost, path.Join("/inventory/{{ .PluralName }}", id, ":resync"), nil, nil)
	if err != nil {
		return err
	}

	return nil
}
